#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 1.5rem;
}

.button-actions {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

@media (min-width: 800px) {
  .button-actions {
    flex-direction: row;
  }
}
